h2 {
    background-color: orange;
    color: white;
    width: 200px;
    height: 50px;
    text-align: center;
}

.game-instructions {
    background-color: bisque;
    width: 300px;
    height: 300px;
}


/*We use :nth-of-type, a pseudo-class selector to make sure that each element with a crystal-image class has a different image to display. */

.crystal-image:nth-of-type(1) {
    content: url("https://i.ibb.co/Qrch9YB/crystalx.jpg");
    width: 200px;
    height: 200px;
}

.crystal-image:nth-of-type(2) {
    content: url("https://i.ibb.co/2cgG764/crystalx2.jpg");
    width: 200px;
    height: 200px;
}

.crystal-image:nth-of-type(3) {
    content: url("https://i.ibb.co/q0H13Vj/crystalx3.jpg");
    width: 200px;
    height: 200px;
}

.crystal-image:nth-of-type(4) {
    content: url("https://i.ibb.co/Pwb6pSH/crystalx4.jpg");
    width: 200px;
    height: 200px;
}